.covid-tracker-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 16px;
}

.covid-tracker-header__title {
  padding: 8px 0;
}

.covid-tracker-header__last-updated-date {
  color: #ff595d;
}
