.covid-tracker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.covid-tracker-header__title {
  color: #000;
  font-size: 110%;
  padding: 8px 0;
}

.covid-tracker-header__last-updated-date {
  color: #ff4800;
}

.covid-tracker-header__desc {
  font-size: 80%;
  padding-bottom: 0px;
}
