/* grey: (
    00: #ffffff,
    30: #f6f7fa,
    40: #f0f1f1,
    50: #e7e9ed,
    60: #cfd3e0,
    70: #626b7a,
    80: #282c37,
  ),
  blue: (
    20: #e5f0ff,
    30: #b2d3ff,
    40: #559cff,
    50: #006dff,
    60: #0069e3,
    70: #0053b9,
    80: #003b87,
  ),
  green: (
    20: #d6ffe8,
    30: #bbface,
    40: #94f4b5,
    50: #56e58d,
    60: #2ecc71,
    70: #1bae4d,
    80: #11872f,
  ),
  teal: (
    20: #e4fff8,
    30: #c5fced,
    40: #5bedd9,
    50: #09bdc9,
    60: #10a8b3,
    70: #007587,
    80: #03272b,
  ),
  passion: (
    20: #ffeaf3,
    30: #fda2ee,
    40: #bb81e3,
    50: #bd06f8,
    60: #8a00e3,
    70: #d63480,
    80: #a9207b,
  ),
  sunset: (
    20: #fcf7bd,
    30: #ffee97,
    40: #ffdc6f,
    50: #ffb84b,
    60: #ff595d,
    70: #ff4800,
    80: #cc4545,
  ),
  anthem: (
    blue: #0079c2,
    orange: #fe5e3c,
  ), */