*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgb(255, 31, 90, 0.6);
}

ul {
  list-style: none;
}

h2 {
  padding: 8px;
}

p {
  padding: 4px 0;
}

/* .text-title {
  color: #0079c2;
} */

.text-light {
  color: #626b7a;
}

.text-light-gray {
  color: #e7e9ed;
}

.text-covid {
  color: rgb(247, 155, 80);
}

.text-link {
  color: #006dff;
  text-decoration: none;
}

.text-white {
  color: #FFF;
}

.deaths-bg {
  background: #626b7a;
}

.active-bg {
  background: #ff595d
}

.confirmed-bg {
  background: rgb(76, 141, 238);
}

.recovered-bg {
  background: rgb(38, 153, 38);
}

.deaths-text {
  color: #626b7a;
}

.active-text {
  color: #ff595d
}

.confirmed-text {
  color: rgb(76, 141, 238);
}

.recovered-text {
  color: rgb(38, 153, 38);
}

.link {
  text-decoration: none;
  color: #00fff0;
}

.covid-tracker-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 130%;
  background-color: #FFF;
  width: 60%;
  margin: 32px auto;
  box-shadow: 0 16px 64px rgb(0, 0, 0, 0.3);
}

.covid-tracker-app__main {
  flex: 1;
  margin: 0 auto;
  padding: 16px 0;
}

.header__logo-link {
  color: #FFF;
  text-decoration: none;
}

.covid-tracker-app__header,
.covid-tracker-footer {
  background: rgba(79, 0, 11, 0.7);
  padding: 24px;
}

.ReactModal__Content {
  width: 60%;
  margin: 0 auto;
  height: 80%;
}

.phone-number {
  text-decoration: none;
  color: #3d6cb9;
}

/* media queries */
@media only screen and (max-width: 720px) {

  body {
    background-color: #fff;
  }

  .covid-tracker-app {
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .header__title {
    justify-content: center !important;
  }

  .header__nav {
    flex-direction: column;
  }

  .header__nav-links {
    width: 100% !important;
    margin-top: 16px;
    font-size: 120%;
  }

  .covid-tracker-app__main {
    width: 95%;
  }

  .covid-tracker-footer {
    font-size: 100%;
  }

  .covid-color-codes__list {
    flex-direction: column;
  }

  .ReactModal__Content {
    width: auto;
    margin: 0 auto;
    height: auto;
  }

  .covid-total-stats__cards {
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
  }

  .covid-total-stats__card {
    width: 100% !important;
    margin-bottom: 8px;
  }

  .covid-total-stats__daily-cases {
    font-size: 100% !important;
  }

  .covid-total-stats__card-stats {
    font-size: 120%;
  }

  /* .covid-total-stats__card:hover {
    transform: rotate(-1deg) !important;
  } */

}
