*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

h2 {
  padding: 8px;
}

p {
  padding: 4px 0;
}

.text-title {
  color: #0079c2;
}

.text-light {
  color: #626b7a;
}

.text-covid {
  color: rgb(247, 155, 80);
}

.text-link {
  color: #006dff;
  text-decoration: none;
}

.deaths-bg {
  background: #626b7a;
}

.active-bg {
  background: #ff595d
}

.confirmed-bg {
  background: rgb(76, 141, 238);
}

.recovered-bg {
  background: rgb(38, 153, 38);
}

.deaths-text {
  color: #626b7a;
}

.active-text {
  color: #ff595d
}

.confirmed-text {
  color: rgb(76, 141, 238);
}

.recovered-text {
  color: rgb(38, 153, 38);
}

.link {
  text-decoration: none;
  color: rgb(247, 155, 80);
}

.covid-tracker-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 130%;
}

.covid-tracker-app__main {
  flex: 1;
  width: 40%;
  margin: 0 auto;
}

.header__logo-link {
  color: white;
  text-decoration: none;
}

.covid-tracker-app__header,
.covid-tracker-footer {
  background: linear-gradient(to right, #606c88, #3f4c6b);
  color: white;
  padding: 32px;
}

.covid-tracker-footer {
  padding: 16px;
}

/* media queries */
@media only screen and (max-width: 720px) {

  .covid-tracker-app {
    font-size: 100%;
  }

  .covid-tracker-app__main {
    width: 95%;
  }

  .covid-tracker-footer {
    font-size: 100%;
  }

  .covid-color-codes__list {
    flex-direction: column;
  }
}
