/* @keyframes rotate {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 2s ease-in;
} */

.covid-total-stats__cards {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.covid-total-stats__card {
  box-shadow: 0 0 8px rgba(33,33,33,.2);
  border-radius: 5px;
  padding: 16px;
  width: 280px;

  transition: all 1s ease-in;
}

.covid-total-stats__card:hover {
  transform: scale(1.1);
}

.covid-total-stats__card-logo-container {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.covid-total-stats__card-stats {
  flex-basis: 70%;
}

.covid-total-stats__card-logo {
  width: 50px;
}

.covid-total-stats__card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.covid-total-stats__daily-cases {
  font-size: 80%;
}

.covid-total-stats__daily-confirmed,
.covid-total-stats__daily-recovered,
.covid-total-stats__daily-deaths,
.covid-total-stats__daily-total {
  display: inline-block;
  margin-top: 8px;
  padding: 8px;
  color: #FFF;
  border-radius: 5px;
  width: 70px;
  text-align: center;
}

.covid-total-stats__daily-confirmed {
  background: #ff4800;
}

.covid-total-stats__daily-recovered {
  background: #1bae4d;
}

.covid-total-stats__daily-deaths {
  background: #282c37;
}

.covid-total-stats__daily-total {
  background: #ff595d;
}
